<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<ul class="nav justify-content-end">
  <li>
    <a href="/"><img  id="logo" src="/images/batch2.png" alt="logo"></a>
  </li>


  {{#if user}}
  <li> 
    <a href="/"><img src="/public/images/" alt="" srcset=""></a>
  </li>

  <li class="nav-item">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Projects</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="modal" data-target="#exampleModalCenter" href="/help">Help</a>
  </li>
  <li class="nav-item">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-user"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">My Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>
  </li>


  {{else}}
  <li> 
      <a href="/"><img src="/public/images/" alt="" srcset=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#goala">Our Goal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#aboutus">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#projects">Projects</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#tech">Technology</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Contact Us</a>
  </li>

  {{/if}}

</ul>

<div class="navspace">
  
</div>



    {{{body}}}




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="color:rgba(63, 136, 197, 1)" class="modal-title" id="exampleModalCenterTitle">How can we help you?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


          <form action="/help" method="post">

            <label for="selectpro">Select Project:</label>
            <br>
              <select name="area" >
                {{#each user.projects}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            <br>
            <label for="select">Select area:</label>
            <br>
            <select name="area" >
              <option value="FRONTEND">Forntend</option>
              <option value="BACKEND">Backend</option>
              <option value="DESIGN">Design</option>
              <option value="SERVER">Server</option>
            </select>
            <br>
            <label for="problem">What's your problem?</label>
            <br>
            <textarea name="description"  cols="30" rows="10"></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">

            
          </form>
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            
        </div>
        </div>
    </div>
    </div>

{{!-- <script src="/node_modules/smooth-scroll/dist/js/smooth-scroll.js"></script> --}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>   
    <script src='/javascripts/script.js'></script>
  </body>
</html>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
	$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>