<section>
    <article class="portada">

        {{#if profilePic}}
        <img id="profilePic" src="{{profilePic}}" alt="">
        {{else}}
        <img id="profilePic" src="https://pbs.twimg.com/profile_images/719587633353986048/U6ub_oiK_400x400.jpg" alt="">
        {{/if}}
        <h2>{{username}}</h2>
    </article>
    {{#if message}}<h1>{{message}}</h1>{{/if}}
    <article class="datos">
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input class="form-control" value="{{username}}" type="text" name="username" placeholder="tu username"/>
            <input class="form-control" value="{{email}}" type="email" name="email" placeholder="tu mail"/>
            <textarea class="form-control" maxlength="10" name="bio" type="text">{{bio}}</textarea>
            <input  id="file" type="file" name="profilePic" hidden/>
            <input class="btn btn-success" type="submit" value="Guardar">
        </form>

    </article>

</section>
<section class="datos">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tus productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tus compras</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tus contactos</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div style="display:flex;flex-wrap:wrap" class="micontainer tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

      
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Agregar producto
        </button>      

{{#each products}}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.photos.[0]}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.desc}}</p>
            <a href="#" class="btn btn-primary">{{this.price}}</a>
        </div>
        </div>
{{/each}}





  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>

</section>